<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Tasks</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-item>
    <ion-input placeholder="Enter Task" [(ngModel)]="newTask" id="input" 
          (keyup.enter) = "addTask()" maxlength=60></ion-input>
          
    <ion-button shape="round" color="dark" (click) = "addTask()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>


  <ion-list *ngFor="let t of tooo; index as i" >

    
      <ion-item >
        <ion-icon name="close-circle"  (click)="deleteTask(t)" color="dark"></ion-icon>
        <!-- <ion-icon name=></ion-icon> -->

        <ion-item >
        <ion-label >{{ t.task }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="t.status"
         (ionChange) = "TaskClicked(tooo)" ></ion-checkbox>
        </ion-item>
      </ion-item> 

  </ion-list>

  <!-- {{ testStorage() }}

  {{ testExtract() }} -->

<!-- 
  <ion-list *ngFor="let t of geting().reverse()">

      <ion-item >
        <ion-label>{{ t }}</ion-label>
        <ion-checkbox slot="end"
         (ionChange) = "TaskClicked(t)"></ion-checkbox>
      </ion-item>
  </ion-list> -->

  <!-- {{ clearAll() }} -->
  
</ion-content>


